#messages {
    width: 100%;
    height: 100%;
}

textarea {
    width: 90%;
    height: 300px;
    margin: 15px 0;
}

button {
    color: black;
}

button.large {
    padding: 5px 10px;
    font-size: 20px;
    margin: 5px;
}

button, textarea {
    transition: linear 150ms;
}

textarea:read-only {
    filter: opacity(60%);
}

.larger-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    color: white;
    margin: 15px auto;
    align-content: center;
    width: 90%;
    border: solid darkgray 1px;
    border-radius: 3px;
    padding: 10px;
    background-color: black;
}

#history {
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

#history>.btn-flat {
    width: 100%;
    color: white;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#history>.btn-flat.selected {
    background-color: rgba(255, 255, 255, 0.3);
}

body, select {
    font-family: 'JetBrains Mono', monospace;
}
